$primary-color: #95B2B0;
$accent-color: #FFF;
$font-family-default: 'fraunces', sans-serif;
$font-family-header: 'Great Vibes', cursive;

.getting-there {
  padding: 4rem 2rem;
  background-color: $primary-color;
  color: $accent-color;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  transition: min-height 0.3s ease;
  margin-bottom: 20px;

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 auto;

    @media (min-width: 768px) {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
      max-width: 1200px;
      margin: 0 auto;
      flex-wrap: wrap;
      text-align: left
    }
  }

  // .content {
  //   align-items: center;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   gap: 2rem;
  //   margin: 0 auto;

  //   @media (min-width: 768px) {
  //     align-items: flex-start;
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;
  //     gap: 2rem;
  //     max-width: 1200px;
  //     margin: 0 auto;
  //     flex-wrap: wrap;
  //     text-align: left;
  //   }
  // }

  .left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 240px;

    @media (min-width: 768px) {
      max-width: 1200px;
    }
  }

  .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h3 {
    font-family: $font-family-header;
    font-size: 3rem;
    color: $accent-color;
    margin-bottom: 1.5rem;
  }

  h5 {
    font-family: $font-family-default;
    font-size: 1.8rem;
    color: $accent-color;
    margin-bottom: 1rem;
  }

  h6 {
    font-family: $font-family-default;
    font-weight: 400;
    font-size: 1.25rem;
    color: $accent-color;
  }

  p {
    font-family: $font-family-default;
    font-size: 1rem;
    line-height: 1.6;
    color: $accent-color;
  }

  .right-column {
    padding-left: 2rem;
  }

  @media (max-width: 768px) {
    padding: 3rem 1rem;
    min-height: auto;

    h3 {
      font-size: 2.5rem;
      margin-bottom: 0rem;
    }

    h5 {
      font-size: 1.5rem;
      margin-bottom: 0rem;
    }

    p {
      font-size: 0.9rem;
    }

    .left-column,
    .right-column {
      flex: 1;
      width: 100%;
      margin-bottom: 1rem;
    }

    .right-column {
      padding-left: 0;
    }
  }
}

.getting-there__link {
  color: #f1f1f1;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.getting-there-right {
  width: 100%;
  overflow: hidden;

  iframe {
    width: 100%;
    border: 0;
  }
}
