$primary-color: #122a45;
$accent-color: #FFF;
$link-color: #f1f1f1;
$font-family-default: 'fraunces', sans-serif;
$font-family-header: 'Great Vibes', cursive;

.schedule {
  padding: 4rem 2rem;
  background-color: $primary-color;
  color: $accent-color;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 690px;
  transition: min-height 0.3s ease;
  margin-bottom: 0;

  &__bold {
    font-family: "Great Vibes", cursive;
    font-weight: 700;
    font-size: 24px;
  }

  .heading {
    margin-left: 3rem;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 auto;
    max-width: 240px;

    @media (min-width: 768px) {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
      max-width: 1200px;
      margin: 0 auto;
      flex-wrap: wrap;
      text-align: left
    }
  }

  .left-column,
  .right-column {
    flex: 1;
  }

  h3 {
    font-family: $font-family-header;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: $accent-color;
  }

  h5 {
    font-family: $font-family-default;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: $accent-color;
  }

  h6 {
    font-family: $font-family-default;
    font-weight: 400;
    font-size: 1.25rem;
    color: $accent-color;
  }

  p {
    font-family: $font-family-default;
    font-size: 1rem;
    line-height: 1.6;
    color: $accent-color;
  }

  .right-column {
    padding-left: 2rem;
  }

  @media (max-width: 768px) {
    padding: 3rem 1rem;
    min-height: auto;

    h3 {
      font-size: 2.5rem;
    }

    h5 {
      font-size: 1.4rem;
    }

    p {
      font-size: 0.9rem;
    }

    .left-column,
    .right-column {
      flex: 1;
      margin-bottom: 1rem;
    }

    .right-column {
      padding-left: 0;
    }
  }

  a {
    color: $accent-color;
    text-decoration-color: $accent-color;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .placeholder {
    color: $primary-color;
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &__link {
    color: $link-color;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
  }
}
